<h2>Visites</h2>


<button (click)="getIndividual()">Individual</button>
<button (click)="getTour()">Tour</button>


<table class="table">
    <thead class="table__head">
        <tr>
            <th>Patient</th>
            <th>Type</th>
            <th>Date</th>
            <th>Motif</th>
        </tr>
    </thead>
    <tbody class="table__body">

        <tr *ngFor="let visit of visits">
            <!-- [routerLink]="['../visit, visit.id]"--->

            <ng-template [ngIf]="visit.type === 'tour'" [ngIfElse]="individual">
                <td>
                    <ng-container *ngFor="let individual of visit.individuals">{{ individual.patient.firstName }}
                    </ng-container>
                </td>
                <td>{{ visit.type }}</td>
                <td>{{ visit.individuals[1].date }}</td>
                <td>-</td>
            </ng-template>

            <ng-template #individual>
                <td *ngIf="visit.patient">{{ visit.patient.firstName }}</td>
                <td *ngIf="!visit.patient">ANONYME</td>
                <td>{{ visit.type }}</td>
                <td>{{ visit.date }}</td>
                <td>{{ visit.subject }}</td>
            </ng-template>
        </tr>
    </tbody>
</table>