<mat-sidenav-container class="container">
  <mat-sidenav class="container__navBar" mode="side" opened *ngIf="tokenStorageService.isAuthenticate()">
    <mat-nav-list class="navBar__list">
      <span class="list__head">
        <img src="./assets/img/Sanstitre.png" alt="">
        <p class="head__titre">LE DOC</p>
      </span>
      <mat-list-item class="list__item list__item--active">
        <a routerLink="/dashboard" routerLinkActive="router-link-active">
          <i class="item__icon fas fa-desktop"></i>
          Dashboard
        </a>
      </mat-list-item>
      <mat-list-item class="list__item">
        <a routerLink="/patients" routerLinkActive="router-link-active">
          <i class="item__icon fas fa-users"></i>
          Patiens
        </a>
      </mat-list-item>
      <mat-list-item class="list__item">
        <a routerLink="/visites" routerLinkActive="router-link-active">
          <i class="item__icon fas fa-car"></i>
          Visites
        </a>
      </mat-list-item>
      <mat-list-item class="list__item">
        <a (click)="logout()">
          <i class="item__icon fas fa-cog"></i>
          Logout
        </a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>